@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
  box-sizing: border-box;
  --font-Poppins: 'Poppins', sans-serif;

  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);
  --color-very-dark-blue: hsl(234, 12%, 34%);
  --color-grayish-blue: hsl(229, 6%, 66%);
  --color-very-light-gray: hsl(0, 0%, 98%);
  --color-white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 15px;
  font-family: var(--font-Poppins);
  background-color: var(--color-very-light-gray);
  color: var(--color-grayish-blue);
  line-height: 1.6;
}

p,
h1,
h2 {
  margin: 0;
}

h1,
h2 {
  font-weight: bold;
  font-size: 1.4rem;
  color: initial;
}

figure {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}

body * + * {
  margin-top: 1.5em;
}

.container {
  margin: 0 auto;
  width: 80%;
  padding: 5em 0 0;
}

.container > h1,
.container > p {
  text-align: center;
}

.container > h1 {
  font-weight: 200;
  color: var(--color-very-dark-blue);
}
.container > p {
  margin-bottom: 5em;
}

.card {
  position: relative;
  background-color: var(--color-white);
  padding: 2em;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 6px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 250px;
}

.card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--color-cyan);
  clip-path: polygon(2% 18%, 98% 0, 100% 100%, 0% 100%);
}
.card:nth-of-type(2)::after {
  background-color: var(--color-red);
}
.card:nth-of-type(3)::after {
  background-color: var(--color-orange);
}
.card:nth-of-type(4)::after {
  background-color: var(--color-blue);
}

.card__description {
  margin-top: 0;
}
.card__image {
  margin-top: auto;
  align-self: flex-end;
}

footer {
  margin-top: 0;
  margin-top: 5em;
  padding: 1.5em 0;
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 1140px) {
  .container > h1 {
    width: 375px;
    margin: 0 auto;
  }
  .container > p {
    width: 500px;
    margin: 1.5em auto;
  }
  section {
    margin-top: 5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px 100px 100px 150px;
    grid-gap: 1em 2em;
  }
  section .card + .card {
    margin-top: 0;
  }

  .card {
    min-width: 240px;
  }

  .card:nth-of-type(1) {
    grid-area: 2 / 1 / 4 / 2;
  }
  .card:nth-of-type(2) {
    grid-area: 1 / 2 / 2 / 3;
  }
  .card:nth-of-type(4) {
    grid-area: 2 / 3 / 4 / 4;
  }
  .card:nth-of-type(3) {
    grid-area: 3 / 2 / 4 / 3;
  }
}
